.hireme{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 700px;
    background: linear-gradient(
    195deg,
    #183D3D 0%,     /* Top color */
    #040D12 100%    /* Bottom color */
  );
}

.hireme h2{
    color: aliceblue;
    position: relative;
    top: 100px;
    left: 50px;
    font-size: 3.1rem;
    height: fit-content;
    
}

.hireme p{
    color: aliceblue;
    position: relative;
    top: 110px;
    left: 50px;
    font-size: 2rem;
    height: fit-content;
}

 .container{
    height: 500px;
    width: 1500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px;
    
    h5{
        color: #93B1A6;
        font-size: 1.5rem;
        position: relative;
        top: 100%;
        left:5px;
        width: max-content;
    }

    p{
        color: #93B1A6;
        font-size: 1.5rem;
        width: 200px;
        margin-right: 10px;
    }

    img{
        position: relative;
        top: 28%;
    width: 100px;
    height: auto;
    /*margin: 20px;*/
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        
    }
    
}

.container .circle1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    
    background-color: #fff;
    border-radius: 54px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    
}

.container .circle2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 20px;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    
}

.container .circle3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 20px;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
    p{
        margin-right: 30px;
        text-decoration: none;
    }
} 


